<template lang="pug">
    div
        h1 Hello!
        p This is a collection of WIP Gadgets
        p Click a tab at the top to view them.
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Hello extends Vue {}
</script>

<style lang="stylus" scoped>
@import "~bootstrap/dist/css/bootstrap.min.css"
</style>
