<template lang="pug">
    .container.mx-auto.my-4
        nav.nav.nav-tabs.mb-3
            a.nav-link(
                href = "#"
                v-for = "(component, id) in tabs"
                v-bind:class = "[activeTab === id ? 'active' : '']"
                v-on:click.prevent = "openTab(id)"
            ) {{id}}
        component(
            v-for = "(component, id) in tabs"
            v-bind:is = "component"
            v-if = "id === activeTab"
            v-bind:key = "id"
        )
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Hello from "./Hello.vue";
import BannerGenerator from "./bannergenerator/BannerGenerator.vue";
import BPMTester from "./bpmtester/BPMTester.vue";
import ColorPalettes from "./colorpalettes/ColorPalettes.vue";
import YoutubeViewer from "./youtubeviewer/YoutubeViewer.vue";

@Component
export default class Menu extends Vue {
    private tabs = {
        Hello,
        BannerGenerator,
        BPMTester,
        ColorPalettes,
        YoutubeViewer
    };

    private activeTab = Object.keys(this.tabs)[0];
    openTab(id: string): void {
        this.activeTab = id;
    }
}
</script>

<style lang="stylus" scoped>
@import "~bootstrap/dist/css/bootstrap.min.css"
</style>
