<template lang="pug">
    div
        h1 Youtube Viewer

        .input-group.input-group-lg.mb-3
            input.form-control(
                type = "text"
                v-model = "targetUrl"
            )
            //- .input-group-append
            //-     button.btn.btn-outline-secondary(
            //-         type = "button"
            //-         v-on:click = "toggleLoop"
            //-         v-bind:class = "{active: loop}"
            //-     ) Loop

        iframe.mx-auto.d-block(
            type = "text/html"
            width = 800
            height = 450
            frameborder  = "0"
            allowfullscreen
            v-bind:src = "getUrl"
            v-if = "getUrl"
        )
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class YoutubeViewer extends Vue {
    public targetUrl = "";
    public loop = false;

    public toggleLoop(): void {
        this.loop = !this.loop;
        this.$forceUpdate();
    }

    private getId(): string {
        if (!this.targetUrl) return "";
        const id = this.targetUrl.match(
            /(?:\&|\?)v=([a-zA-Z0-9_-]{11})(?:\&|$)/
        );
        if (!id) return "";
        return id[1];
    }

    public get getUrl(): string {
        const id = this.getId();
        if (!id) return "";
        let url = `https://www.youtube.com/embed/${id}?modestbranding=1&rel=0`;
        if (this.loop) url += "&loop=1";
        return url;
    }
}
</script>
