<template lang="pug">
    div
        h1 Banner Generator
        .card
            .card-body
                .form-group
                    label Text
                    input.form-control(
                        type = "text"
                        v-model = "inputText"
                    )
                .row
                    .col.form-group
                        label Font Family
                        .input-group
                            input.form-control(
                                type = "text"
                                v-model = "inputFont"
                            )
                            .input-group-append
                                button.btn.btn-outline-secondary.dropdown-toggle(
                                    type = "button"
                                    data-toggle = "dropdown"
                                )
                                .dropdown-menu
                                    a.dropdown-item(
                                        v-for = "font in DEFAULT_FONTS"
                                        href = "#"
                                        v-on:click.prevent = "inputFont = font"
                                    ) {{font}}
                    .col.form-group
                        label Font Weight
                        .input-group
                            input.form-control(
                                type = "text"
                                v-model = "inputFontWeight"
                            )
                            .input-group-append
                                button.btn.btn-outline-secondary.dropdown-toggle(
                                    type = "button"
                                    data-toggle = "dropdown"
                                )
                                .dropdown-menu
                                    a.dropdown-item(
                                        v-for = "weight in DEFAULT_WEIGHTS"
                                        href = "#"
                                        v-on:click.prevent = "inputFontWeight = weight"
                                    ) {{weight}}
                    .col.form-group
                        label Font Size
                        input.form-control(
                            type = "number"
                            min = "0.01"
                            max = "1.1"
                            step = "0.01"
                            v-model = "inputFontSize"
                        )
                .row
                    .col.form-group
                        label Text Color
                        .row
                            .col
                                .input-group
                                    input.form-control(
                                        type = "text"
                                        v-model = "inputTextColor"
                                    )
                                    .input-group-append
                                        span.input-group-text(
                                            v-bind:style = "{ background: inputTextColor }"
                                        ) &nbsp;
                            .col
                                .input-group
                                    input.form-control(
                                        type = "text"
                                        v-model = "inputTextColor2"
                                    )
                                    .input-group-append
                                        span.input-group-text(
                                            v-bind:style = "{ background: inputTextColor2 }"
                                        ) &nbsp;
                    .col.form-group
                        label Background Color / Image
                        .input-group
                            input.form-control(
                                type = "text"
                                v-model = "inputBgColor"
                            )
                            .input-group-append
                                span.input-group-text(
                                    v-bind:style = "{ background: inputBgColor }"
                                ) &nbsp;
                .row
                    .col.form-group
                        label Width
                        input.form-control(
                            type = "number"
                            min = 1
                            step = 1
                            v-model = "inputSizeWidth"
                        )
                    .col.form-group
                        label Height
                        .input-group
                            .input-group-prepend
                                button.btn.btn-outline-secondary(
                                    type = "button"
                                    v-bind:class = "{ active: inputSizeLocked }"
                                    v-on:click = "inputSizeLocked = !inputSizeLocked"
                                )
                                    span.fas(
                                        v-bind:class = "inputSizeLocked ? 'fa-lock' : 'fa-lock-open'"
                                    )
                            input.form-control(
                                type = "number"
                                min = 1
                                step = 1
                                v-model = "inputSizeHeight"
                                v-bind:disabled = "inputSizeLocked"
                            )
                    .col.form-group
                        label Radius X
                        input.form-control(
                            type = "text"
                            v-model = "inputRadiusX"
                        )
                    .col.form-group
                        label Radius Y
                        .input-group
                            .input-group-prepend
                                button.btn.btn-outline-secondary(
                                    type = "button"
                                    v-bind:class = "{ active: inputRadiusLocked }"
                                    v-on:click = "inputRadiusLocked = !inputRadiusLocked"
                                )
                                    span.fas(
                                        v-bind:class = "inputRadiusLocked ? 'fa-lock' : 'fa-lock-open'"
                                    )
                            input.form-control(
                                type = "text"
                                v-model = "inputRadiusY"
                                v-bind:disabled = "inputRadiusLocked"
                            )
            .card-body.border-top.d-flex.position-relative(v-bind:style = "{background: getBackground}")
                svg.mx-auto#mainSvg(
                    v-bind:width = "inputSizeWidth"
                    v-bind:height = "inputSizeHeight"
                )
                    defs
                        clipPath#mainSvgClip
                            rect(
                                x = 0, y = 0
                                v-bind:rx = "inputRadiusX"
                                v-bind:ry = "inputRadiusY"
                                width = "100%", height = "100%"
                            )
                        linearGradient#mainSvgTextGradient(
                            v-if = "inputTextColor2"
                            x1 = 0, x2 = 0, y1 = 0, y2 = 1
                        )
                            stop(offset = 0, v-bind:stop-color="inputTextColor")
                            stop(offset = "100%", v-bind:stop-color="inputTextColor2")
                        mask#mainSvgMask(
                            v-if = "inputTextColor2"
                        )
                            rect(x = 0, y = 0, width = "100%", height = "100%")
                            text#mainSvgText(
                                x = "50%", y = "50%"
                                text-anchor = "middle"
                                dominant-baseline = "central"
                                fill = "white",
                                v-bind:font-size = "outputFontSize",
                                v-bind:font-family = "'\"' + inputFont + '\"'"
                                v-bind:font-weight = "inputFontWeight"
                            ) {{inputText}}
                    image(
                        v-if = "isImage"
                        x = 0, y = 0, width = "100%", height = "100%"
                        v-bind:fill = "inputBgImage"
                        clip-path = "url(#mainSvgClip)"
                    )
                    rect(
                        v-if = "!isImage"
                        x = 0, y = 0, width = "100%", height = "100%"
                        v-bind:fill = "inputBgColor"
                        clip-path = "url(#mainSvgClip)"
                    )
                    text#mainSvgText(
                        x = "50%", y = "50%"
                        text-anchor = "middle"
                        dominant-baseline = "central"
                        v-bind:fill = "inputTextColor",
                        v-bind:font-size = "outputFontSize",
                        v-bind:font-family = "'\"' + inputFont + '\"'"
                        v-bind:font-weight = "inputFontWeight"
                        v-if = "!inputTextColor2"
                    ) {{inputText}}
                    rect(
                        x = 0, y = 0, width = "100%", height = "100%"
                        fill = "url(#mainSvgTextGradient)"
                        v-if = "inputTextColor2", mask="url(#mainSvgMask)"
                    )

                button.btn.btn-secondary.position-absolute(
                    style = "top: .5em; right: .5em"
                    v-bind:class = "{active: previewDark}"
                    v-on:click = "previewDark = !previewDark"
                )
                    span.fas.fa-adjust
            .card-body.border-top
                .form-group
                    label(for="inputOutputFilename") Output Filename
                    .input-group
                        input.form-control#inputOutputFilename(
                            type = "text"
                            v-model = "inputOutputFilename"
                        )
                        .input-group-append
                            span.input-group-text .png
                .text-right
                    button.btn.btn-secondary(
                        type = "button"
                        v-on:click = "saveSvg"
                    ) Save SVG
                    | &nbsp;
                    button.btn.btn-primary(
                        type = "button"
                        v-on:click = "savePng"
                    ) Save PNG
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Watch } from "../shared/Decorators";
import "jquery";
import "bootstrap/dist/js/bootstrap.bundle.min.js";
import { saveSvg, saveSvgAsPng } from "save-svg-as-png";

@Component
export default class BannerGenerator extends Vue {
    public readonly DEFAULT_FONTS = [
        "Raleway",
        "Font Awesome 5 Free",
        "Font Awesome 5 Pro"
    ] as ReadonlyArray<string>;
    public readonly DEFAULT_WEIGHTS = [
        100,
        200,
        300,
        400,
        500,
        600,
        700,
        800,
        900
    ] as ReadonlyArray<number>;

    public inputText = "Ag";
    public inputFont = this.DEFAULT_FONTS[0];
    public inputFontWeight = 400;
    public inputFontSize = 0.7;
    public inputTextColor = "#eeeeee";
    public inputTextColor2: string | null = null;
    public inputBgColor = "#111111";
    public inputSizeWidth = 256;
    public inputSizeHeight = 256;
    public inputSizeLocked = true;
    public inputRadiusX = 0;
    public inputRadiusY = 0;
    public inputRadiusLocked = true;
    public inputOutputFilename = "output";

    public previewDark = false;

    public outputFontSize = 14;

    @Watch
    public watch_inputSizeLocked(value: boolean): void {
        if (value) this.inputSizeHeight = this.inputSizeWidth;
    }
    @Watch
    public watch_inputSizeWidth(value: number): void {
        if (this.inputSizeLocked) this.inputSizeHeight = value;
        this.recomputeTextSize();
    }
    @Watch
    public watch_inputRadiusLocked(value: boolean): void {
        if (value) this.inputRadiusY = this.inputRadiusX;
    }
    @Watch
    public watch_inputRadiusX(value: number): void {
        if (this.inputRadiusLocked) this.inputRadiusY = this.inputRadiusX;
    }

    private recomputeTextSize(): void {
        if (this.inputText === "") return;
        setTimeout(() => {
            const el = document.getElementById("mainSvgText");
            if (el == null) return;
            const fontSize = parseInt(el.getAttribute("font-size") || "");
            const computedSize = ((el as any) as SVGTextContentElement).getComputedTextLength();
            this.outputFontSize = Math.min(
                Math.max(
                    Math.floor(
                        (fontSize * this.inputSizeWidth * this.inputFontSize) /
                            computedSize
                    ),
                    1
                ),
                this.inputSizeHeight * this.inputFontSize
            );
        }, 0);
    }
    @Watch public watch_inputText(): void {
        this.recomputeTextSize();
    }
    @Watch public watch_inputFont(): void {
        this.recomputeTextSize();
    }
    @Watch public watch_inputFontWeight(): void {
        this.recomputeTextSize();
    }
    @Watch public watch_inputFontSize(): void {
        this.recomputeTextSize();
    }
    @Watch public watch_inputSizeHeight(): void {
        this.recomputeTextSize();
    }
    private created(): void {
        this.recomputeTextSize();
    }

    public get isImage(): boolean {
        return this.inputBgColor.startsWith("url(");
    }
    public get inputBgImage(): string {
        if (!this.isImage) return "";
        return this.inputBgColor.replace(/^url\(|\)$/g, "");
    }

    public get getBackground(): string {
        if (this.previewDark) return "#222";
        else return "#fff";
    }

    public saveSvg(): void {
        saveSvg(
            document.getElementById("mainSvg") as HTMLElement,
            `${this.inputOutputFilename}.svg`
        );
    }
    public savePng(): void {
        saveSvgAsPng(
            document.getElementById("mainSvg") as HTMLElement,
            `${this.inputOutputFilename}.png`
        );
    }
}
</script>

<style lang="stylus" scoped>
@import "~bootstrap/dist/css/bootstrap.min.css"
@import "~@fortawesome/fontawesome-free/css/all.css"
</style>
