<template lang="pug">
    div
        h1 BPM Tester
        .alert.alert-primary.
            Tap the shift key or click the button below in time with the beat
            to record Beats per Minute.
        button.btn.btn-primary.btn-lg.btn-block.my-5(
            type = "button"
            v-on:click = "registerBeat"
        ) Beat
        mixin row(text, id)
            .form-group.row
                label.col-sm-3.col-form-label= text
                .col-sm-9
                    input.form-control(
                        readonly
                        type = "text"
                        v-bind:value = `${id} || ''`
                    )
        +row("BPM", "outputBPM")
        +row("Period (ms)", "outputPeriod")
        +row("Beats", "beatCount")
        .progress
            .progress-bar(
                role = "progressbar"
                v-bind:class = "progressClasses"
                aria-valuemin = "0"
                v-bind:aria-valuemax = "100"
                v-bind:aria-valuenow = "progressWidth"
                v-bind:style = "{width: progressWidth + '%'}"
            ) {{progressText}}
        .text-right.mt-3
            button.btn.btn-danger(
                type = "button"
                v-on:click = "reset"
            ) Reset
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class BPMTester extends Vue {
    // #region Constant Config
    private static readonly MAXIMUM_BEATS = 24;
    // #endregion

    // #region Data
    private beats = [] as number[];
    private lastBeat: number | null = null;

    public beatCount = 0;
    public outputBPM: number | null = null;
    public outputPeriod: number | null = null;
    // #endregion

    private static getDate(): number {
        return (new Date).getTime();
    }

    public registerBeat(): void {
        this.beatCount++;
        if (this.lastBeat == null) {
            this.lastBeat = BPMTester.getDate();
            return;
        }

        this.beats.push(BPMTester.getDate() - this.lastBeat);
        if (this.beats.length > BPMTester.MAXIMUM_BEATS)
            this.beats.shift();

        const average = this.beats.reduce((a,b) => a + b) / this.beats.length;
        this.outputBPM = Math.floor(1000 * 60 / average);
        this.outputPeriod = Math.floor(average);

        this.lastBeat = BPMTester.getDate();
    }
    public reset(): void {
        this.beats = [];
        this.beatCount = 0;
        this.lastBeat = null;

        this.outputBPM = null;
        this.outputPeriod = null;
    }
    get progressText(): string {
        if (this.beatCount === 0) {
            return "";
        } else if (this.beatCount < BPMTester.MAXIMUM_BEATS) {
            return `Scanning.. (${this.beatCount}/${BPMTester.MAXIMUM_BEATS})`;
        } else {
            return "Scan Complete";
        }
    }
    get progressClasses(): string[] {
        if (this.beatCount < BPMTester.MAXIMUM_BEATS) {
            return ["progress-bar-striped", "progress-bar-animated"];
        } else {
            return ["progress-bar bg-success"];
        }
    }
    get progressWidth(): number {
        return Math.min(this.beatCount / BPMTester.MAXIMUM_BEATS, 1) * 100;
    }

    private mounted(): void {
        window.addEventListener("keydown", (ev) => {
            if (ev.key !== "Shift")
                return;
            this.registerBeat();
        });
    }
}
</script>

<style lang="stylus" scoped>
@import "~bootstrap/dist/css/bootstrap.min.css"
</style>
