<template lang="pug">
    div
        h1 Color Palettes

        .input-group.input-group-lg
            input.form-control#colorpalettes--output(
                type = "text"
                readonly
                v-bind:value = "colorOutput"
            )
            .input-group-append
                button.btn.btn-primary(
                    type = "button"
                    ref = "copyButton"
                    data-clipboard-target="#colorpalettes--output"
                ) Copy

        .card.mt-4
            .card-header
                select.custom-select(v-model="selectedPalette")
                    option(v-for="(_, id) in palettes") {{id}}
            .card-body(
                v-for="(palette, id) in palettes"
                v-if="selectedPalette === id"
            )
                .container
                    .row(v-for="paletteRow in palette")
                        .col.p-1(v-for="color in paletteRow")
                            button.btn.btn-secondary.w-100(
                                style = "height: 2em"
                                v-bind:style = "{ background: `#${color}` }"
                                v-on:click = "selectColor(color)"
                            )
</template>

<script lang="ts">
import Clipboard from "clipboard";
import { Vue, Component } from "vue-property-decorator";
import data from "./colorpalettes.json";

type PaletteData = { [palette: string]: string[][] };

@Component
export default class ColorPalettes extends Vue {
    public palettes = data as PaletteData;
    public selectedPalette = Object.keys(data)[0];
    public selectedColor: string | null = null;

    private mounted(): void {
        new Clipboard(this.$refs["copyButton"] as Element);
    }

    public selectColor(color: string): void {
        this.selectedColor = color;
    }

    public get colorOutput(): string {
        if (this.selectedColor == null) return "";
        return `#${this.selectedColor.toUpperCase()}`;
    }
}
</script>

<style lang="stylus" scoped>
@import '~bootstrap/dist/css/bootstrap.min.css'
</style>